
.mainfooter {
  background-color: #333;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-middle {
  padding-top: 30px;
  border-top: 1px solid #dee2e6;
}

.footer-pad {
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.footer-pad h4 {
  color: #ffffff;
}

.footer-pad p {
  color: white;
}

.copy p {
  color: white;
}
