* {
  font-family: 'Times New Roman', Times, serif;
  overflow-x: hidden;
}

.btn a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: rgb(49, 129, 49);
}

.btn a:hover {
  color: white;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(169, 89, 169);
  opacity: 0.8;
}

.search {
  margin-right: 20px;
}
.btn {
  width: 150px;
}
#footer {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  width: 100%; 
  height: 70vh; 
  background-color: rgb(184, 217, 231);
}

#footer-container {
  margin: 0 auto;
}

#footer-row {
  display: flex;
  flex-wrap: wrap;
}

#about {
  margin-bottom: 30px;
}

#connect {
  margin-bottom: 30px;
}

#help {
  margin-bottom: 30px;
}

#footer-bottom {
  margin-top: 20px;
}

#footer-bottom p.text-center {
  text-align: center;
}

#footer a {
  color:#007bff ;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}
