*{
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
}
.btn a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(49, 129, 49);
}
.btn a:hover {
    color: white;
}


.logo {
    width: 50px;
    height: 50px;
   border-radius: 50%;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(169, 89, 169);
    opacity: 0.8;
    
}
.search {
    margin-right: 20px;
}
.btn {
    width: 150px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
    background-color: rgb(184, 217, 231);

.footer {
    background-color: #f8f9fa;
    padding: 50px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col-md-4 {
    width: calc(33.33% - 20px);
    margin-right: 20px;
  }
  
  .col-md-4:last-child {
    margin-right: 0;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  ul li a {
    color: #555;
    text-decoration: none;
  }
  
  ul li a:hover {
    text-decoration: underline;
  }
  
  hr {
    border: none;
    border-top: 1px solid #ddd;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  p {
    color: #777;
  }
  
  p a {
    color: #333;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  
}