*{
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
}
.btn a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(49, 129, 49);
}
.btn a:hover {
    color: white;
}


.logo {
    width: 50px;
    height: 50px;
   border-radius: 50%;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(169, 89, 169);
    opacity: 0.8;
    
}
.search {
    margin-right: 20px;
}
.btn {
    width: 150px;
}

/* Footer css Start  */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    background-color: rgb(184, 217, 231);
}